.header{
    background-color: rgb(240, 240, 240);
}

.logo{
    width: auto;
    height: 60px;
    padding: 7px;
    margin-left: 128px;
}
.header-contact{
    text-decoration: none;
    border: 2px gray solid;
    border-radius: 6px;
    padding: 0.4rem;
    color: gray;
    float: right;
    font-weight: 600;
    margin-right: 128px;
    margin-top: 8px;
}
.header-contact:hover{
    color: white;
    background-color: orange;
    transition: 0.6s;
    border: 2px white solid;
}